{% extends 'base.html' %}

{% block title %}Actualizar Pregunta{% endblock title %}

{% block content %} 
<h1> Actualizar Pregunta </h1>
<form action= "{% url 'updateSuccess'%}" method="POST">
    {% csrf_token %}
    <ul>
        <li><label>ID: </label><input type="text" value= "{{ preguntaRecibida.id}}" name="id" readonly></li>
        <li><label>Pregunta: </label><input type="text" value= "{{ preguntaRecibida.pregunta }}" name="pregunta" size="50"></li>
        <li><label>Respuesta Correcta: </label><input type="text" value= "{{preguntaRecibida.respuestaCorrecta}}" name="respuestaCorrecta"></li>
        <li><label>Respuesta Incorrecta1: </label><input type="text" value= "{{preguntaRecibida.respuestaIncorrecta1}}" name="respuestaIncorrecta1"></li>
        <li><label>Respuesta Incorrecta2: </label><input type="text" value= "{{preguntaRecibida.respuestaIncorrecta2}}" name="respuestaIncorrecta2"></li>
        <li><label>Respuesta Incorrecta3: </label><input type="text" value= "{{preguntaRecibida.respuestaIncorrecta3}}" name="respuestaIncorrecta3"></li>
        <li><label>Genero: <input type="text" value= "{{preguntaRecibida.genero}}" name="genero" ></li>
        <input type="submit" value="Actualizar" style="margin: 15px">
    </ul>
</form>

{% endblock content %}